<% if @comment.owner?(current_user) %>
  App.f7.toast('<%= t('comments.owner') %>', '<div><i class="ti-lock"></i></div>', {}).show();
<% else %>
  <% template = j render @comment %>
  $('.<%= dom_id @comment %>').replaceWith('<%= template %>');

  <% if @comment.voted_by?(current_user) %>
      App.f7.toast('좋아요', '<div><i class="ti-heart"></i></div>', {}).show();
  <% else %>
      App.f7.toast('', '<div><i class="ti-heart-broken"></i></div>', {}).show();
  <% end %>
<% end %>
