<li class="option-item">
  <label class="label-radio item-content">
    <%= f.input_field :correct, as: :boolean, boolean_style: :inline %>
    <div class="item-inner">

      <div class="item-input">
        <%= f.input_field :text, placeholder: "개성" %>
        <%= f.error :text %>
      </div>
    </div>
  </label>
</li>
