// Typography
$sans-serif: 'Apple SD Gothic Neo', 'Nanum Gothic', 나눔고딕, 'Malgun Gothic', 맑은고딕, Dotum, 돋움, Gulim, 굴림, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: "바탕", Batang, serif;
$monospace: Consolas, "Liberation Mono", Courier, monospace;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;
