<div class="list-block media-list user">
  <ul>
    <li>
      <%= link_to user, class: "item-link item-content" do %>
        <%= render 'shared/user', user: user %>
      <% end %>
    </li>
  </ul>
</div>
