<div class="pages navbar-through">
  <div data-page="password-new" class="page no-toolbar no-navbar no-swipeback sign-up">
    <div class="page-content login-screen-content">
      <%= render 'devise/passwords/form' %>
    </div>
  </div>
</div>
