<% if object.errors.any? %>
  <div class="callout callout-danger">
    <h4>The form contains <%= pluralize(object.errors.count, "error") %>.</h4>

    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
