<%= render layout: 'shared/navbar' do %>
  <%= Answer.model_name.human %>
<% end %>

<%= render layout: 'shared/page' do %>
  <div class="page-content">
    <div class="list-block inset">
      <%= render 'form' %>
    </div>
  </div>
<% end %>
