// Typography
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$serif: "바탕", Batang, serif;
$monospace: Consolas, "Liberation Mono", Courier, monospace;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;
