.users {
  &.index {
    .media-list {
      margin: 10px 0px;
    }
  }

  &.show {
    .user {
      margin-top: 0px;
    }

    .sort-tabs {
      margin: 10px 5px;
      padding: 0px;
    }
  }

  &.edit {
    form {
      input[type="submit"] {
        margin-top: 15px;
      }
    }
  }
}
