<div class="pages navbar-through">
  <div data-page="sign-in" class="page no-toolbar no-navbar no-swipeback sign-in">
    <div class="page-content login-screen-content">
      <%= render 'devise/sessions/form' %>
    </div>
  </div>
</div>
