body {
  width: 660px;
  /* width: 480px; */
  /* height: 850px; */
  margin: 0 auto;
  background: #efeff4;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

/* .question-card { */
  /* width: 47.46%; */
  /* [> width: 15.48%; <] */
/* } */
