<div class="views">
  <div class="view view-main">
    <%= render 'layouts/flash_message' %>
    <%= yield %>

    <%= render 'layouts/tabbar' %>
  </div>
</div>

<%= render 'layouts/signin_popup' %>
